* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0e0e0e;
  font-family: sans-serif;
  color: white;
  text-align: center;
  user-select: none;
}
#score, #highScore {
  font-size: 20px;
  margin-top: 10px;
}
#restartBtn {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}
#restartBtn:hover {
  background-color: #005fa3;
}
canvas {
  border: 3px solid #333;
  width: 300px;
  height: 500px;
  margin: 10px auto 0 auto;
  display: block;
  touch-action: none;
  background: transparent;
}
